:root {
    --text-color: #ffffff;
    --accent-color: #17ac89;
    --darker-accent-color: #138a6e;
    --background-color: #35383f;
    --support-color: #292c31;
    --darker-support-color: #212325;
}

body {
    font-family: "Open Sans", sans-serif;
    position: relative;
    user-select: none;
    margin: 0;
    background: var(--background-color);
}

*:focus {
    outline: solid white 2px;
    border-radius: 2px;
}

/* buttons */

.button {
    cursor: pointer;
    background-color: var(--accent-color);
    padding: 4px;
    border-radius: 50%;
    user-select: none;
    line-height: 0;
}

.button input {
    display: none;
}

.button:hover {
    opacity: 75%;
}

.button:active {
    transform: translateY(2px);
    opacity: 75%;
}

/* navbar */

navbar {
    margin: auto;
    width: max-content;
    border-radius: 0 0 16px 16px;

    background: var(--darker-support-color);
    position: sticky;
    top: 0;
    padding: 24px;

    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 48px;
    z-index: 10;
}

navbar * {
    padding: 4px;
}

navbar * img {
    width: 32px;
}

/* container */

container {
    min-height: calc(100vh - 128px);

    display: flex;
    justify-content: center;
    gap: 32px;

    /*align-items: stretch;*/
    flex-wrap: wrap;
}

card {
    width: 384px;
    min-height: 512px;

    position: relative;
    height: fit-content;
    padding: 16px;
    background: var(--support-color);
    border-left: 4px solid #00000000;
    border-radius: 4px;
    
    display: grid;
    grid-template-areas:
        "n n n k"
        "d d d d"
        "H H A A"
        "h h a a"
        "m m m m"
        "I i i i"
        "r r r r";

    /*animation: popup 0.5s ease;*/
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

card input, card textarea {
    color: white;
    border: 0;
    background-color: transparent;
    opacity: 1;
}

card input:hover, card textarea:hover {
    text-decoration: underline;
}

card input:focus:hover, card textarea:focus:hover {
    text-decoration: none;
}

card input[type="number"] {
    appearance: textfield;
}

card p {
    font-weight: bold;
    color: white;
    margin: 0;
}

card .delete, card .imageUpload {
    width: 24px;
    height: 24px;
    padding: 6px;
}

card .delete:hover, card .imageUpload:hover {
    opacity: 0.8;
}

card .delete:hover, card .imageUpload:hover {
    opacity: 0.8;
}

card .delete {
    float: right;
    grid-area: k;
    margin: 0 8px;
}

card .name {
    grid-area: n;
    height: 32px;
    margin-right: 4px;
    font-weight: bold;
}

card .description {
    grid-area: d;
    margin: 4px 0;
    resize: none;
    margin: 8px 0;
    margin-right: 16px;
}

card .healthLabel {
    grid-area: H;
    font-size: 14px;
    margin-top: 4px;
}
card .health {
    grid-area: h;
    margin-bottom: 4px;
}

card .attackLabel {
    grid-area: A;
    font-size: 14px;
    margin-top: 4px;
}
card .attack {
    grid-area: a;
    margin-bottom: 4px;
}

card .image {
    height: 256px;
    max-width: 384px;
    grid-area: m;
    margin: 16px 0;
}

card .imageUpload {
    grid-area: I;
    margin: 8px 16px 8px 0;
}
card .imageURL {
    grid-area: i;
    margin: 8px 0;
    margin-right: 16px;
}

card .rarity {
    color: var(--text-color);
    grid-area: r;
    margin: 8px 0;
    margin-right: 16px;
    background: var(--darker-support-color);
    border: solid var(--darker-support-color) 4px;
    border-radius: 4px;
}

/* footer */

footer {
    margin-top: 48px;
    padding: 24px 0;
    background: var(--darker-support-color);
    text-align: center;
}

footer p {
    padding: 4px 0;
    margin: 0;
    color: white;
}